<h1>Add your name to the scoreboard</h1>
<p class="lead">You scored <ng-pluralize count="score.value" when="{'1': 'one point', 'other': '{} points'}">.
<form ng-submit="add_score()" class="form-inline" name="score_form">
  <div class="form-group">
    <input 
      placeholder="Enter your name"
      class="form-control"
      type="text"
      ng-model="score.name"
      required
      >
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="is_saving || score_form.$invalid">
      Add name and score
  </button>
  <p>&nbsp;</p>
</form>

<p>
  <a class="btn btn-default btn-sm" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://euangoddard.github.io/xmas-2013&p[images][0]=&p[title]=I%20scored%20{{ score.value }}%20in%20the%20quiz&p[summary]=To%20ease%20your%20way%20into%20the%20festive%20season,%20take%20part%20in%20the%2012%20days%20of%20Christmas%20quiz.">
    <span class="glyphicon glyphicon-share"></span>
    Share on facebook
  </a>
</p>