<h1>Add your name to the scoreboard</h1>
<p class="lead">You scored <ng-pluralize count="score.value" when="{'1': 'one point', 'other': '{} points'}">.
<form ng-submit="add_score()" class="form-inline" name="score_form">
  <div class="form-group">
    <input 
      placeholder="Enter your name"
      class="form-control"
      type="text"
      ng-model="score.name"
      required
      >
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="is_saving || score_form.$invalid">
      Add name and score
  </button>
  <p>&nbsp;</p>
</form>